{% extends 'Pokemons/BasePokemon.html.twig' %}

{% block body %}

    <div id="pokemons">

    </div>
{% endblock %}

{% block assets %}

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

{% endblock %}
